
DeutschMod/nichtnötig/DiplomacyDialogs/Cordrazine.xml
DeutschMod/nichtnötig/DiplomacyDialogs/Draylok.xml
DeutschMod/nichtnötig/DiplomacyDialogs/Human.xml
DeutschMod/nichtnötig/DiplomacyDialogs/Kulrathi.xml
DeutschMod/nichtnötig/DiplomacyDialogs/Opteris.xml
DeutschMod/nichtnötig/DiplomacyDialogs/Pollops.xml
DeutschMod/nichtnötig/DiplomacyDialogs/Ralyeh.xml
DeutschMod/nichtnötig/DiplomacyDialogs/SharedDiplomacy.xml
DeutschMod/nichtnötig/DiplomacyDialogs/Vulfen.xml
DeutschMod/nichtnötig/GameText.yaml
DeutschMod/nichtnötig/GameTextAlt.yaml
DeutschMod/nichtnötig/GlobalsAltmitDeutsch.yaml
